.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

.react-calendar__viewContainer {
  height: 100%;
}

.react-calendar__tile {
  margin-top: 10px !important;
  padding-top: 10px;
  text-align: center;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  border-radius: 14px;
  /*  background-color: rgb(222, 228, 227); */
  background-color: transparent;
  color: black;
}

.react-calendar__tile--now {
  border-radius: 14px;
  background-color: rgb(86, 204, 195) !important;
}

.react-calendar__tile:disabled {
  color: rgb(208, 223, 230);
  background-color: transparent;
}
